extends /layouts/application.pug

block content
  .jumbotron
    h1.display-4 Task manager 2019
    p.lead Manage your task with the most powerful tool ever made.
    p.lead
      a.btn.btn-lg.btn-primary(href='#') Try for free
